.main {
    margin: auto;
    width: 100%;
    max-width: 700px;
    font-family: arial;
    border: 6px solid #25a9e0;
    font-size: 14px;
    padding: 9px;
}

img.logoimg {
    max-width: 180px;
    margin-bottom: 14px;
}

img.map-img {
    width: 100%;
    height: 273px;
    object-fit: cover;
    object-position: center center;
}

.image-grip{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
}

.image-grip img {
    width: calc(25% - 10px);
    height: 130px;
    object-fit: cover;
    margin-bottom: 12px;
    object-position: center center;
}

h3.title {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 15px;
    font-weight: 600;
    max-width: calc(50% - 7px);
}

.item span{
    font-weight: 400;
}